<ion-tabs class="tabs-icon-top tabs-color-active-primary">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Message" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/help_request">
    <ion-nav-view name="tab-help_request"></ion-nav-view>
  </ion-tab>

  <!-- Facilities Tab -->
  <ion-tab title="Facilities" icon-off="ion-ios-time-outline" icon-on="ion-ios-time" href="#/tab/facilities">
    <ion-nav-view name="tab-facilities"></ion-nav-view>

  </ion-tab>

  <!-- Contact Tab -->
  <ion-tab title="Contact" icon-off="ion-ios-contact-outline" icon-on="ion-ios-contact" href="#/tab/contact">
    <ion-nav-view name="tab-contact"></ion-nav-view>
  </ion-tab>
</ion-tabs>
