<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Message" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/help_request">
    <ion-nav-view name="tab-help_request"></ion-nav-view>

  <!-- Facilities Tab -->
  <ion-tab title="Facilities" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/facilities">
    <ion-nav-view name="tab-facilities"></ion-nav-view>

  </ion-tab>
</ion-tabs>
