<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <div class="contact">
      <h3 class="title">CONTACT</h3>
      <div class="card-contact" style="height: 30%; width: 95%">
        <div class="list-card">
          <div class="item item-divider">
            <h3 style="text-align: center;">Brf Kungsklippan</h3>
          </div>
          <div class="item item-text-wrap">
              <p>Here you will find all the contact details for our building.</p>
              <p>Address: Kungsklippan 12, 112 25 Stockholm</p>
              <p>Phone: 08-650 27 12</p>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
