<ion-view title='<img class="title-image" src="../img/logoFinal.png" />'>
  <ion-content>
   <h3 class="title">FACILITIES</h3>
    <div class="row">
      <div ng-if="facilities" ng-repeat="facility in facilities">
        <div ng-if="($index = $odd)">
          <div class=“col”>
            <div class="card" style="width: 168px;">
              <img class="fac-icon" src="../img/Facility_icon3.png">
              <div class="item item-divider fac">
              <h4 style="text-align: center;">{{facility.name}}</h4>
            </div>
            <div class="item item-text-wrap">
              <h5>{{facility.description}}</h5>
              <p>{{facility.rules}}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div ng-if="facilities" ng-repeat="facility in facilities">
        <div ng-if="($index = $even)">
          <div class=“col”>
            <div class="card" style="width: 168px;">
              <img class="fac-icon" src="../img/Facility_icon3.png">
              <div class="item item-divider fac">
              <h4 style="text-align: center;">{{facility.name}}</h4>
            </div>
            <div class="item item-text-wrap">
              <h5>{{facility.description}}</h5>
              <p>{{facility.rules}}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
