<ion-view title='<img class="title-image" src="../img/logoFinal.png" />'>
  <ion-content>
    <h3 class="title">FACILITIES</h3>
    <div ng-repeat="facility in facilities" width="100%">
      <div  class="my-col-50" ng-if="$even">
        <div class="card" style="width: 168px; height: 185px">
          <img class="fac-icon" src="../img/Facility_icon3.png">
          <div class="item item-divider fac">
          <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <div ng-if="facilities" class="item item-text-wrap">
            <h5>{{facility.description}}</h5>
            <p>{{facility.rules}}</p>
          </div>
        </div>
      </div>
      <div  class="my-col-50" ng-if="$odd">
        <div class="card" style="width: 168px; height: 185px">
          <img class="fac-icon" src="../img/Facility_icon3.png">
          <div class="item item-divider fac">
          <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <div class="item item-text-wrap">
            <h5>{{facility.description}}</h5>
            <p>{{facility.rules}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
