
<ion-view title='<img class="title-image" src="img/logoFinal.png" />'>
  <ion-content>
    <h3 class="title">FACILITIES</h3>
    <div ng-repeat="facility in facilities" width="100%">
      <div  class="my-col-50" ng-if="$even">
        <div class="card" style="width: 168px; height: 153px">
          <img class="faci" src="img/facilityicon.jpg">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
            <button class="button button-full company-color" ng-click="openDatePicker(facility.id)">Open Bookings</button>
        </div>
      </div>
      <div  class="my-col-50" ng-if="$odd">
        <div class="card" style="width: 168px; height: 153px">
          <img class="faci" ng-src="img/facilityicon.jpg">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <button class="button button-full company-color" ng-click="openDatePicker(facility.id)">Open Bookings</button>
      </div>
    </div>
  </ion-content>
</ion-view>
