<ion-view title='<img class="title-image" src="img/logoFinal.png" />'>
  <ion-content>
    <div class="contact">
    <div class="space">
      <h3 class="title">STARTSIDA</h3><br>
    </div>
      <div  class="my-col-50">
        <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_news()">
          <div class="cards" style="width: 158px; height: 158px">
            <img class="faci2" src="img/nyheter.png">
            <div class="item item-divider fac">
              <h4 style="text-align: center;">{{facility.name}}</h4>
            </div>
            <h5 class="obook"> Nyheter </h5>
          </div>
        </button>
      </div>
    <div  class="my-col-50">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_faci()">
        <div class="cards" style="width: 158px; height: 158px">
          <img class="faci2" src="img/bokning.png">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <h5 class="obook"> Boka </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-50">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="openDatePicker(facility.id)">
        <div class="cards" style="width: 158px; height: 158px">
          <img class="faci2" src="img/elforbrukning.png">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <h5 class="obook"> Elförbrukning </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-50">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_info()">
        <div class="cards" style="width: 158px; height: 158px">
          <img class="faci2" src="img/information.png">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <h5 class="obook"> Information </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-50">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="go_to_fel()">
        <div class="cards" style="width: 158px; height: 158px">
          <img class="faci2" src="img/felanmalan.png">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <h5 class="obook"> Felanmälan </h5>
        </div>
      </button>
    </div>
    <div  class="my-col-50">
      <button class="button" style="background-color:rgba(0,0,0,0)"   ng-click="openDatePicker(facility.id)">
        <div class="cards" style="width: 158px; height: 158px">
          <img class="faci2" src="img/dokument.png">
          <div class="item item-divider fac">
            <h4 style="text-align: center;">{{facility.name}}</h4>
          </div>
          <h5 class="obook"> Dokument </h5>
        </div>
      </button>
    </div>
    </div>

  </ion-content>
</ion-view>
