<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <h3 class="title">MESSAGE</h3>
    <p ng-if="error">{{error}}</p>
    <p ng-if="message">{{message}}</p>
    <div class="help-request">
          <label class="item item-input">
           <span class="input-label">Title</span>
           <input type="text" ng-model="help_request.title">
         </label>
          <label class="item item-input">
           <span class="input-label">Message</span>
           <input type="text" ng-model="help_request.message">
         </label>
          <ul class="list">
            <li class="item item-toggle">
              <h3>Urgent</h3>
              <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="help_request.urgent">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>
          </ul>
          <label class="item">
            <button class="button button-block company-color" ng-click="createHelpRequest()">Send</button>
          </label>
        </div>
      </div>
  </ion-content>
</ion-view>
