<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <div class="contact">
      <h3 class="title">ELFÖRBRUKNING</h3>
      <div class="card-contact" style="height: 30%; width: 95%">
        <div class="list-card">
          <div class="item item-divider">
            <h3 style="text-align: center;">Din veckoförbrukning</h3>
          </div>
          <div class="item item-text-wrap">
            <canvas id="base" class="chart-bar"
                    chart-data="data" chart-labels="labels" chart-colors="colors"
                    chart-dataset-override="datasetOverride" >
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
