<ion-view>
  <ion-nav-title> <button class="button" style="background-color:rgba(0,0,0,0)"  ng-click="go_to_home()">
    <div class="back">
      <img class="pil" src="img/triangular-arrow-ar.png" />
    </div>
  </button>
    <img class="title-image2" src="img/logoFinal.png" />
  </ion-nav-title>
  <ion-content>
    <h3 class="title">NYHETER</h3>
    <div class="col" ng-if="news" ng-repeat="news in news | limitTo:-3 | orderBy:'time':true">
      <div class="list card">
        <div class="item item-divider">
          <h2>{{news.title}}</h2>
          <p>{{news.date}}</p>
        </div>
        <div class="item item-text-wrap">
          <p>{{news.description}}</p>
        </div>
      </div>
    </div>
    </div>
    <br>
  </ion-content>
</ion-view>
