<ion-view title='<img class="title-image" src="img/logoFinal.png" />'>
  <ion-content class="padding">
    <div class="desc">
      <h3 class="title">{{facilities.name}}</h3>
        <br>
        <h5>Description</h5>
        {{facilities.description}}
          <h5>Rules</h5>
        {{facilities.rules}}
        <p ng-if="error">{{error}}</p>
        <br>
        <p ng-if="message">{{message}}</p>
    </div>
    <div class="col" ng-if="timeslots" ng-repeat="timeslot in timeslots">
      <button class="card button button-full company-color" ng-if="!timeslot.bookt" ng-click="openDatePicker(id, date, timeslot.start_time)" >
      <div class="availble">
       <h4 class="availble"> Book </h4>
        {{date}} {{timeslot.start_time}} -
        {{timeslot.end_time}}
      </div>
      </button>
      <div ng-if="timeslot.bookt">
        <br>
        <div class="item item-divider booked" >
          {{timeslot.bookt}}<br>
          {{date}} {{timeslot.start_time}} -
          {{timeslot.end_time}}
        </div>
      </div>
  </div>
  </ion-content>
</ion-view>

