<ion-view title='<img class="title-image" src="img/logoFinal.png" />'>
  <ion-content class="padding">
    <div class="desc">
      <h3 class="title">{{facilities.name}}</h3>
      <h5>Beskrivning</h5> {{facilities.description}}
      <h5>Regler</h5> {{facilities.rules}}
      <p ng-if="error">{{error}}</p>
      <br>
      <p ng-if="message">{{message}}</p>
    </div>
    <div class="col" ng-if="timeslots" ng-repeat="timeslot in timeslots">
      <div class="booking-button">
        <button class="button" ng-if="!timeslot.bookt" ng-click="openDatePicker(id, date, timeslot.start_time)">
      <div class="unbooked">
       <h4 class="availble"> Boka </h4>
        {{date}} {{timeslot.start_time}} -
        {{timeslot.end_time}}
      </div>
    </div>
      </button>
        <div ng-if="timeslot.bookt">
          <br>
          <div class="booked">
            <h4 class="availble"> Bookad </h4>
            {{date}} {{timeslot.start_time}} - {{timeslot.end_time}}
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
