/* Empty. Add your own CSS if you like */
::-webkit-input-placeholder {
   text-align: center;
}
.user {
  color: #FFF ;
  text-align: center;
  background: #23c1a0;
  background: linear-gradient(to bottom, #23c1a0, #34e89e);
}

.top-nav-bar {
    color: #FFF ;
    background-color: #23c1a0 ;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.index {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.text {
    color: #FFF ;
    font-size: 30px ;
    left: 0;
    position:absolute;
    text-align:center;
    top: 85px;
    font-family: 'Droid', sans-serif;
    width: 100%
}

.title-image {
  margin-top: 0px;
  height: 25px;
}

.card {
  margin-bottom: -10px !important;
  margin-right: 10px !important;
  align-content: center;
}

.cards {
  border: 4px;
  background: linear-gradient(to bottom, #fff, #eee, #eee, #23c1a0, #23c1a0);
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 6px;
  box-shadow: 1px 1px 6px #444;
  vertical-align: top;
  margin-bottom: 10px !important;
}

.obook {
  color: #fff;
}

.title {
  color: #fff ;
  padding-top: 5px;
  text-align: center;
  font-family: 'Droid', sans-serif;
}

.news-title {
  font-size: 17px ;
  text-align: center;
  padding-top: 10px ;
  margin-bottom: -20px;
  font-family: 'Droid', sans-serif;

}

.brf-text {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-family: 'Droid', sans-serif;
}



.my-col-50 {
  float: left;
  width: 50%;
  height: 190px;
  padding-bottom: 20px !important;
}


.company-color {
    background-color: #23c1a0;
    color: white;
 }

ion-content {
background:url('../img/exterior_skymning.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 700px;
        filter: blur(2px);
        filter: saturate(50%);
        -webkit-filter: saturate(50%);
        -moz-filter: saturate(50%);
        -o-filter: saturate(50%);
        -ms-filter: saturate(50%);
        background-attachment: fixed;
}

.card-contact {
  opacity: 0.8;
  width: 70%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
}

.help-request {
  background:url('../img/icon-message.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 600px;
}


.booked {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #999;
  color: #ffffff;
  text-align: center;
  width: 89% ;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  margin-top: -25px !important;
}

.unbooked {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -4px;
  background-color: #23c1a0;
  color: #ffffff;
  text-align: center;
  width: 305px ;
  border-radius: 6px;
  box-shadow: 1px 1px 6px #444;
  margin-bottom: -15px !important;
  vertical-align: top;
}

.availble {
  color: #fff;
}

.desc {
  color: #fff;
  text-align: center;
}

.button.button-block, .button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
}

.booking-button {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;

}

h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.input-label {
  font-family: 'Julius Sans One', sans-serif;
}


.cards {
  border: 4px;
  background: linear-gradient(to bottom, #fff, #eee, #eee, #23c1a0, #23c1a0);
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #999;
  vertical-align: top;
  margin-bottom: 10px !important;
}

.faci {
  margin-top: 5px;
  padding-left: 5px;
  margin-bottom: 2px;
  height: 65px;
}

.space {
  height: 300px;
}

.faci2 {
  margin-top: 15px;
  padding-left: 5px;
  margin-bottom: 2px;
  height: 65px;
}


.pil {
  height: 24px;
}

.back {
  width: 100%;
  position: relative;
  top: 5px;
  left: -90px;
}

.title-image2 {
  height: 25px;
  position: relative;
    left: -25px;
}
