/* Empty. Add your own CSS if you like */
::-webkit-input-placeholder {
   text-align: center;
}
.user {
  color: #FFF ;
  text-align: center;
  background: #23c1a0;
  background: linear-gradient(to bottom, #23c1a0, #34e89e);
}

.top-nav-bar {
    color: #FFF ;
    background-color: #23c1a0 ;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.index {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.text {
    color: #FFF ;
    font-size: 30px ;
    left: 0;
    position:absolute;
    text-align:center;
    top: 85px;
    font-family: 'Julius Sans One', sans-serif;
    width: 100%
}

.title-image {
  margin-top: 0px;
  height: 25px;
}

.card {
  margin-bottom: -10px !important;
  margin-right: 10px !important;
  align-content: inherit;
}

.title {
  color: #303030 ;
  padding-top: 5px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

.news-title {
  font-size: 17px ;
  text-align: center;
  padding-top: 10px ;
  margin-bottom: -20px;
  font-family: 'Julius Sans One', sans-serif;

}

.brf-text {
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-family: 'Oswald', sans-serif;
}

.faci {
  padding-left: 50px;
  margin-bottom: 5px;
  height: 65px;
}

.my-col-50 {
  float:left;width:50%;
}


.company-color {
    background-color: #23c1a0;
    color: white;
 }

.contact {
background:url('../img/contact.background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 700px;
        filter: blur(2px);
        filter: saturate(50%);
        -webkit-filter: saturate(50%);
        -moz-filter: saturate(50%);
        -o-filter: saturate(50%);
        -ms-filter: saturate(50%);
}

.card-contact {
  opacity: 0.8;
  width: 70%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
}

.help-request {
  background:url('../img/icon-message.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 600px;
}


.booked {
  background-color: #999;
  color: #ffffff;
  text-align: center;
}

.availble {
  background-color: #23c1a0;
  color: #ffffff;
}

.desc {
  color: #999;
  text-align: center;
}

.button.button-block, .button.button-full {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
}

.booking-button {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
  padding: 10px 10px 10px 10px;
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
}

.input-label {
  font-family: 'Julius Sans One', sans-serif;
}
