/* Empty. Add your own CSS if you like */
::-webkit-input-placeholder {
   text-align: center;
}
.user {
  color: #FFF ;
  text-align: center;
  background: #23c1a0;
  background: linear-gradient(to bottom, #23c1a0, #34e89e);
}

.top-nav-bar {
    color: #FFF ;
    background-color: #23c1a0 ;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.index {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.text {
    color: #FFF ;
    font-size: 30px ;
    left: 0;
    position:absolute;
    text-align:center;
    top: 85px;
    width: 100%
}

title-image {
  margin-top: 0px;
  height: 25px;
}

.card
{
  margin-bottom: -15px !important;
  margin-right: 1px !important;

}

.title {
  color: #303030 ;
  padding-top: 5px;
  text-align: center;
}

.news-title {
  font-size: 17px ;
  text-align: center;
  padding-top: 10px ;
  margin-bottom: -20px;
}

.brf-text {
  text-align: center;
  padding: 15px;
}

.fac-icon {
  padding-left: 50px;
  margin-bottom: 5px;
  height: 65px;
}

.my-col-50 {
  float:left;width:50%;
}
